
# Welcome
> This project about the first project in the ADAND

In [1]:
# Importing the main packages
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset_dir = r'D:\Google Drive\FWD Advanced Data Analysis Course\Projects\Project 1 - Investigate Data\Datasets'
df = pd.read_csv(rf'{dataset_dir}\tmdb-movies.csv', encoding="utf-8")
df ['profit'] = df['revenue_adj'] - df['budget_adj']
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09,1.254446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08,2.101614e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08,1.704191e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09,1.718723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09,1.210949e+09

> **Columns:** cast, genres, production_companie include multiple values for the same row.

In [3]:
## show the columns with NAs data
df.isna().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
profit                     0
dtype: int64

In [4]:
# data with non-english characters
df[df.original_title.str.contains(r'[^\x00-\x7F]+', regex=True)]['original_title']

424              Belli di papÃ
471              è§£æ•‘å´å…ˆç”Ÿ
702                   AutÃ³mata
758            Suite FranÃ§aise
848      Sheâ€™s Funny That Way
                  ...
10497           Â¡Three Amigos!
10518                 DÃ¨moni 2
10575               MacskafogÃ³
10634    VÃ©ritÃ©s et Mensonges
10751             DoppelgÃ¤nger
Name: original_title, Length: 207, dtype: object

## Data Wrangling

### Changing the datatypes

In [5]:
# Transforming the release_date column to date object
df['release_date'] = pd.to_datetime(df['release_date'])


# handle the dates from teh 20th century.
df.loc[df['release_date'].dt.year>2018, 'release_date']  -= pd.DateOffset(years=100) 

# Make sure all the relaste date are properly converted
(df['release_date'].dt.year == df['release_year']).all()

# Get all the columns that have non-ascii characters, that may affect the analysis
non_ascii_columns = []

for col in df.select_dtypes(object):
    if df[col].str.contains(r'[^\x00-\x7F]+', regex=True).any(axis=0):
        non_ascii_columns.append(col)
non_ascii_columns        
# check for non-ascii characters

# print(df[df['original_title'].str.contains(r'[^\x00-\x7F]+', regex=True)])

# df.dropna(axis=0, inplace=True , subset=['cast'])

# df[df['cast'].str.contains(r'[^\x00-\x7F]+', regex=True)] ['cast'].str.split('/').head(50)

['original_title',
 'cast',
 'homepage',
 'director',
 'tagline',
 'keywords',
 'overview',
 'production_companies']

### Denormalizing the data, and breaking the composite columns

In [6]:
## this function to break the row that contains composite column into multiple rows 
def denormalize_data (df, col, sep=r'\|' ):
    if df[col].str.contains(sep).any():
        df['temp'] = df[col].str.split(sep)
        denormalized_df =  df.explode('temp', ignore_index=True)
        df.drop(columns='temp', inplace = True)
        denormalized_df[col] = denormalized_df['temp'] 
        denormalized_df.drop(columns='temp', inplace = True)
        return denormalized_df

In [7]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,1.254446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,2.101614e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,1.704191e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,1.718723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,1.210949e+09

In [37]:
# Denormalize & split the multivalue columns
## split_columns = ['cast', 'genres', 'production_companies']


genre_df= denormalize_data( df,'genres')

director_df = denormalize_data(genre_df, 'director')

In [38]:
# director_df['genres'] = director_df[(~director_df['director'].isna())&(~director_df['genres'].isna()) ].groupby('director')['genres'].apply(lambda x: x.fillna(x.mode()[0]))



# director_df['genres'] = 

director_df[director_df['director'].notna()]['genres'] = director_df[director_df['director'].notna()].groupby(by='director')['genres'].transform(lambda x: x.fillna(x.mode()[0] if x.mode().size>0 else x.mode()))

director_df[director_df['director'].notna()]['genres'].isna().sum()

<ipython-input-38-6fe0700dafdb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director_df[director_df['director'].notna()]['genres'] = director_df[director_df['director'].notna()].groupby(by='director')['genres'].transform(lambda x: x.fillna(x.mode()[0] if x.mode().size>0 else x.mode()))

36

In [ ]:
genre_df['genres'].isna().sum()

> After replicating the movies based on the genres they have, there are 23 movies without a genre.

In [ ]:
df.sort_values(by='popularity', ascending=False)

# Questions
## Q1) What is the most movies genre people loved over the time?
### In term of number of the profit

In [ ]:
fig, axes = plt.subplots(2, 1, figsize=(30, 15))

df_aggregated = df.loc[:  , ['release_year','genres','vote_count', 'vote_average', 'profit']].groupby(as_index= False, by=['release_year','genres']).agg({'vote_count': 'sum', 'vote_average': 'mean', 'profit': 'sum'}).sort_values(by=['release_year','profit'], ascending=[True, False], ignore_index=True)
sb.barplot(ax= axes[0], color='blue', x='genres', y='profit',data=df_aggregated.groupby(by=['genres'], as_index= False)['profit'].sum().sort_values(by='profit', ascending=False))
plt.xticks(rotation=90);

sb.barplot(ax= axes[1], color='green', x='genres', y='vote_average',data=df_aggregated.groupby(by=['genres'], as_index= False)['vote_average'].mean().sort_values(by='vote_average', ascending=False))
plt.xticks(rotation=90);

In [ ]:
sb.set(rc={'figure.figsize':(25,12)})
sb.lineplot(x='release_year', y='profit', data= df_aggregated.loc[df_aggregated['genres'].isin( ['Drama', 'Action',  'Adventure']) ,:], hue= 'genres')
plt.legend(bbox_to_anchor=(1.02, 1), loc='upper left', borderaxespad=0);
plt.xticks(rotation=0);

In [ ]:
sb.scatterplot(data=df_aggregated[df_aggregated['genres'] == 'Drama'], x='vote_count', y='profit')

In [ ]:
df[ (df['genres'] == 'Drama') & (df['release_year'] > 1970) & (df['release_year'] < 1980) ].sort_values(by='profit', ascending= False)

In [ ]:
top_genres= df.groupby(['cast', 'genres'])[['id']].nunique().sort_values(['id', 'cast'] , ascending=[False, True])

top_genres.reset_index(inplace= True)

top_genres[top_genres['cast'].str.contains('Anthony Hopkins')].plot.bar(x='genres', figsize=(10,10));

In [ ]:
top_genres[top_genres['genres']== 'Drama'].iloc[0:10,:].sort_values('id', ascending=True).plot.barh(x='cast', figsize=(10,10));

In [ ]:
d = df.groupby(['release_year', 'cast'])[['id']].count().rename(columns={'id': 'count'})
d
#d.sort_values(by=['release_year', 'cast'], ascending=True).plot.line()